$backgroundColor: #e9e9e9;
$primaryColor: #33b5e6;
$secondaryColor: #f2f2f2;
$textColor: #777779;

mat-card {
  cursor: pointer;

  .header-image {
    background-color: $primaryColor;
    display: grid;
    place-items: center;

    mat-icon {
      color: #fff;
    }
  }

  &:last-child {
    .header-image {
      background-color: #ebeb00;
    }
  }
}

.container {
  display: flex;
  gap: 1rem;
}
