.dialog-container {
  min-width: 300px;
}

mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

mat-dialog-content {
  display: flex;
  gap: 0.75rem;
  overflow: hidden;
  flex-direction: column;
}
